.line
{
    width: 100px;
    height: 10px;
    background-color:darkseagreen;
    text-align: center;
}
body
{
    text-align: center;
}
#apps{
    background-color: deepskyblue;
}
#games{
    background-color:azure;
}
#chatbot{
    background-color:fuchsia;
}